/** #293250 #FFD55A #6DD47E */
* {
    box-sizing: border-box;
  }

body {
    max-width:1000px;
    align-self: center;
    margin:auto;  
    /**
    border-color:darkslategray;
    border-width: 3px;
    border-style:solid; 
    */
    background-color: #293250;
}
/** The upper half of the website*/
#Upper { 
    font-family:fantasy;
    text-align:center;
    padding-top: .4em;
    background-color: #FFD55A;
    border-right-style: solid;
    border-right-color: darkslategray;
    border-left-style: solid;
    border-left-color: darkslategray;
}
#Banner { 
    color: #293250;
}
 #navBar {
    background-color: #333;
    list-style-type: none; /* removes bullet points */
    margin: 0;
    overflow: hidden;
    text-align: center;
    border-bottom-style: dashed;
    border-top-style: dashed;
    border-bottom-color: #6DD47E;
    border-top-color: #6DD47E; 
  }
  
  #navBar li {
    display:inline; /* makes text show up horizontally */
    padding-left:5em;
    padding-right:5em;
    margin-right: 5%;
    }
  
  #navBar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  #navBar li a:hover {
    background-color: #6DD47E;
  }

  /** main content stuff with about me column on left and other on right*/


  .column1 {
      float: left;
      width:30%;
      padding:2em;
      background-color: #333;
      border-color: #6DD47E;
      border-left-style: solid;
      border-left-color: darkslategray;
      border-right-style: dashed;
      border-width: 4px;
      height:100%;

  }
  .column1>img {
      max-width: 90%;
      border-color: #FFD55A;
      border-style: solid;
      border-width: 3px;
  }
  .column1 h2 {
      color:#FFD55A;
      font-family: 'Courier New', Courier, monospace;
  }
  #about, li {
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .column2 {
      border-right-style: solid;
      border-right-color: darkslategray;
      background-color: #333;
      padding-left: .5em;
      padding-top:1em;
      padding-right:1em;
      float: right;
      width:70%;
      height:100%;
  }
  .column2 h1 {
      padding-left:3em;
      font-size: 140%;
      text-align: left;
      color: #FFD55A;
      font-family: 'Courier New', Courier, monospace;
  }
  .column2 h2 {
    font-size: 140%;
    text-align: center;
    padding-bottom: 0em;
    color:#6DD47E;
    font-family: 'Courier New', Courier, monospace;
}

  #content h1 {
    padding-left: 3em;
    font-size: 140%;
    text-align: left;
    color: #FFD55A;
    font-family: 'Courier New', Courier, monospace;
  }
