html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: 'Open Sans', 'Georgia', 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

/**
 * Remove the margin in all browsers.
 */

 body {
    margin: 0;
    background-color: #fffafa;

  
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  

#banner { 
  overflow: hidden;
  background-color: white;
  float:top;
  margin: auto;
  padding-left: 5em;
  /* background-image: linear-gradient(135deg, white 0 70%, #ba0c2f 70% 75%, white 75% 80%, #BA0c2F 80% 95%); */
      /**padding-left:12em;*/
  position: sticky;
  top: 0;
  z-index:1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#banner img { 
    float:left;
    max-height: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#titleBan {
    float:left;
    padding-top:1em;
    padding-left:1em;
}

#intro-par { 
  margin-right:1em;
  padding-bottom:1.5em;

  padding-top:1em;
}

.help { 
  margin:.5em;
  width: 10%;
}
.help:hover { 
  transition: 0.25s;
}
.social-media {
  display: block;
  float: left;
}
.help:not(:hover) {
  transition: 0.25s;
  filter: grayscale(1) contrast(0); /* grayscale is the default (will not work in internet explorer, but who cares)*/
}
.help:not(:hover)#csip {
  transition: 0.25s;
  filter: grayscale(1); /* grayscale is the default (will not work in internet explorer, but who cares)*/
}
@media screen and (min-width:1440px) { 
  .help {
    margin:1em;
  }
  .help:hover { 
  }
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  margin-right: 3em;
}

/* Style the links inside the navigation bar */
.topnav-right li {
  float: left;
  text-align: center;
  /* padding: vertical horizontal */
  padding: 1.3em 1.5em;
  vertical-align: middle;
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
}

.topnav-right a {
  color: black;
  text-decoration: none;
}

.topnav-right a:hover {
  border-bottom: 0.1em solid #BA0C2F;
}

#navBar {
    clear:both;
    position:sticky
}
#navBar ul {
    height:3.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 20em;
    padding-right:20em;
    position: sticky;
  }


/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
      outline: 2px solid white;
      outline-offset: -1em;
      display:none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    position: absolute;
    bottom: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0,0,0);
    background: rgba(0,0,0, 0.5);
    text-align: center;
    backdrop-filter: blur(4px);
    max-width: 400px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#content { 
  margin-top:-1em;
  padding-left:18%;
  padding-right:18%;
  text-align: center;
}

#content #column-1{ 
    padding-left:4em;
    float:left;
    width:75%;

    padding-bottom:3em;
}
#content #column-2{
    padding-left:2em;
    float:left;
    width:15%;
}

.center-header {
  text-align: center;
}

#feature-section{
  padding-top: .5em;
  clear:both;
  float: left;
  width:100%;
  text-align: left;

}

#content #featured { 
  clear:both;
  float:left;
  width:100%;
}
#featured h2 { 
  border-bottom: 0.2em solid #BA0C2F;
  font-size: 0%;
  width: fit-content;
}
#discord {
  position:absolute;
  padding-top:1em;
  margin-left:-1em;
}

#event-list{
  padding-left: 0em;
}


.ev-li { 
  float:left;
  width:30%;
  /* background-color: #000000;   for black tiles */
  margin-right:1em;
  margin-top:1em;
  color:black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.4em;
  min-height: 500px;
  list-style-type: none;
  
}

.ev-li h3 { 
  font-size:100%;
  padding-right:1em;
  padding-left: 1em;
  margin-bottom: -1em;
}

.eventDate { 
  border-top: solid 0.15em #BA0C2F;
  color: #797979;
}

.ev-li p { 
  padding-top: .5em;
  padding-left:1em;
  padding-right: 1em;
}

.ev-li>a>img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 0.4em 0.4em 0 0;
}


footer { 
  clear:both;
  height: 27em;
  background-color: #000000;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}


#welcome-acm {
  font-size: 200%;

}

.slide-desc {
  margin-left: 1em;
  margin-right: 1em;
}

.red-underline {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5em;
  border-bottom: 0.075em solid #BA0C2F;
}

#copyright {
  padding-top: 7em;
  text-align: center;
}

.footer-column {
  margin-top: 1em;
  float: left;
  width: 27%;
  margin-left: 3%;
  margin-right: 3%;
}

.footer-column > h1,
.footer-column > h2,
.footer-column > h3 {
  padding-bottom: 0.75em;
  border-bottom: 0.1em solid #E4002B;
  width: fit-content;
}

.footer-column p {
  text-align: left;
}

#footer-columns {
  margin-left: 10em;
  margin-right: 10em;
}

#copyright {
  margin-top: 3em;
}

.left-footer-column {
  padding-right: 1%;
}

/* for contact info */
address {
  display: inline;
}
footer a:not(:hover) {
  transition: 0.25s;
  color: white;
  text-decoration: none;
}
footer a:hover {
  transition: 0.25s;
  color: white;
  text-decoration: underline;
  text-decoration-color: #BA0C2F;
}
