@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-VariableFont_wght.ttf');
}
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: 'Oswald', 'Open Sans', 'Georgia', 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    scroll-behavior: smooth;
    scroll-padding-top: 7.5em;
}

:root {
  --navbar-color: #C7C7C7;
  --header-red-color: #BA0C2F
}

/**
 * Remove the margin in all browsers.
 */

 body {
    margin: 0;
    background-color: #fffafa;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  

#banner { 
  background-color: var(--navbar-color);
  height: 96px;
  float:top;
  padding-left: 2em;
  padding-right: 2em;
  position: sticky;
  top: 0;
  z-index:1;

  /* display content centered */
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#acm-logo {
  height: 81px;
  width: 233px;
}

#hamburger-menu {
  width: 40px;
  align-self: center;
}

#titleBan {
    float:left;
    padding-top:1em;
    padding-left:1em;
}

.welcome-section {
  display: flex;
  justify-content: left;
}

.welcome-left {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  padding-right: 160px;
}

.welcome-logo {
  width: 400px;
  margin: 15px;
  margin-left: 60px;
}


#welcome-acm {
  margin-left: 30px;
  text-align: left;
  font-size: 94px;
  margin-bottom: 30px;
}

.red-text {
  color: var(--header-red-color);
}

.intro-p { 
  text-align: left;
  width: 980px;
  font-size: 32px;
}

#dues {
  margin-left: 120px;
  display: flex;
}

.membership-heading {
  text-align: left;
  font-size: 40px;
}



.help { 
  margin:.5em;
  width: 10%;
}
.help:hover { 
  transition: 0.25s;
}

.social-media-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons-container {
  /* Flex container row for social icons
  */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 120px;
  height: 120px;
}

.social-icon {
  /* Consistent size for each social icon
  */
  width: 50px;
  height: 50px;
}

.social-media {
  display: block;
  float: left;
}
.help:not(:hover) {
  transition: 0.25s;
  filter: grayscale(1) contrast(0); /* grayscale is the default (will not work in internet explorer, but who cares)*/
}
.help:not(:hover)#csip {
  transition: 0.25s;
  filter: grayscale(1); /* grayscale is the default (will not work in internet explorer, but who cares)*/
}
@media screen and (min-width:1440px) { 
  .help {
    margin:1em;
  }
  .help:hover { 
  }
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  gap: min(5%, 15px);
  float: right;
  margin-right: 3em;
}

/* Style the list of links in the nav bar */ 
.topnav-right ul {
  /* adaptive gap to account for different screens */
  display: flex;
  flex-wrap: wrap;
}

/* Style the links inside the navigation bar */
.topnav-right li {
  text-align: center;
  /* padding: vertical horizontal */
  padding: 1.3em 1.5em;
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
}

.topnav-right a {
  color: black;
  text-decoration: none;
}

.topnav-right a:hover {
  border-bottom: 0.1em solid #BA0C2F;
}

#navBar {
    clear:both;
    position:sticky
}
#navBar ul {
    height:3.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 20em;
    padding-right:20em;
    position: sticky;
  }

  
  .active, .dot:hover {
    background-color: #717171;
  }
  



.center-header {
  text-align: center;
}

#feature-section{
  padding-top: .5em;
  clear:both;
  float: left;
  width:100%;
  text-align: left;

}

#content #featured-section { 
  margin: 0;
  clear:both;
  float:left;
  width:100%;
}
#featured h2 { 
  border-bottom: 0.2em solid #BA0C2F;
  width: fit-content;
}
#discord {
  position:absolute;
  padding-top:1em;
  margin-left:-1em;
}

#event-list{
  /* Event list will fit all items in a grid-like format, allowing
  * adding/removing cards without breaking formatting.
  * Also is better for smaller screens because it pops
  * overflowed cards to the next row
  */
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px ,30%));
  gap: 10px;

}


.ev-li { 
  float:left;
  width:100%;
  /* background-color: #000000;   for black tiles */
  margin-right:1em;
  margin-top:1em;
  color:black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.4em;
  min-height: 30em;
  list-style-type: none;
}
.ev-li:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 #ba0c2f;
  transition: 0.25s;
}


.ev-li h3 { 
  font-size:100%;
  padding-right:1em;
  padding-left: 1em;
  margin-bottom: -1em;
}

.eventDate { 
  border-top: solid 0.15em #BA0C2F;
  color: #797979;
}

.ev-li p { 
  padding-top: .5em;
  padding-left:1em;
  padding-right: 1em;
}

.ev-li>a>img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 0.4em 0.4em 0 0;
}


footer { 
  clear:both;
  background-color: #000000;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin-top: 5em;

  display: flex;
  flex-direction: column;
}



.slide-desc {
  margin-left: 1em;
  margin-right: 1em;
}

.red-underline {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5em;
  border-bottom: 0.075em solid #BA0C2F;
}

#copyright {
  padding-top: 7em;
  text-align: center;
}

.footer-column {
  margin-top: 1em;
  float: left;
  width: 27%;
  margin-left: 3%;
  margin-right: 3%;
}

.footer-column > h1,
.footer-column > h2,
.footer-column > h3 {
  padding-bottom: 0.75em;
  border-bottom: 0.1em solid #E4002B;
  width: fit-content;
}

.footer-column p {
  text-align: left;
}

#footer-columns {
  display: flex;
  gap: 5px;
  justify-content: center;
}

#copyright {
  margin-top: 3em;
}

.left-footer-column {
  padding-right: 1%;
}

/* for contact info */
address {
  display: inline;
}
footer a:not(:hover) {
  transition: 0.25s;
  color: white;
  text-decoration: none;
}
footer a:hover {
  transition: 0.25s;
  color: white;
  text-decoration: underline;
  text-decoration-color: #BA0C2F;
}

#resc {
  margin-top: 50px;
}

.member-photo {
  width: 11em;
  border-radius: 50%;
}

#acm-officers {
  text-align: center;
}
.acm-officers-row {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
.acm-officers-row div {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}

#about-text {
  margin-left: 5%;
  margin-right: 5%;
}
#about-text p {
  text-align: left;
}
#about {
  top: 50;
}
.officer-name {
  font-weight: bold;
}
.officer-name + .officer-row {
  padding-left: 5em;
}


