@tailwind base;
@tailwind components;
@tailwind utilities;

.page-header {
    font-size: 225%;
    border-bottom: 0.1em solid #BA0C2F;
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;
}