html { 
    background-color: bisque;
    width:1000px;
    margin:auto;
    padding:0em;
}

body  {
    border-color: maroon;
    border-style: dashed;
    border-width: 2px; 
    background-color: white; 
}

#header { 
    width:100%;
    background-color: white;
    border-bottom-color: red;
    border-bottom-style: solid;
    border-width: 2px;
    padding-bottom:0em;
    margin:0em;
    height:20%;
}

#header img { 
    padding-top: 1em;
    padding-left: 1em;
    width:15%;
    float:left;
}
#header h1 {
    text-align:center;
    padding-top:2.5em;
    font-family: 'Courier New', Courier, monospace;
}

#content {
    height:auto;
    clear:both;
}
#content h1 { 
    text-align: center;
}
#content h1.detail { 
    color:red;
}
#content span.name { 
    color:black;
}

#links ul{ 
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 40%;
}
#links li { 
    text-align: center;
    display:block;
    padding: 1em;
}
#links li a {
    font-size: 170%;
    color:whitesmoke;
    display:block;
    width: 100%;
    background-color: black;
    padding-top:1em;
    padding-bottom:1em;
}
#links a:hover{
    background-color: gray;
}